@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* reset css propaty */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reset css propaty */
/* variable  */
/* variable  */
/* Typographi h1 h2 h3 h4 h5 css propaty */
/* //styleName: H1; */
h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 148.56px;
  text-align: left;
  margin: 0px;
}

/* //styleName: H2; */
h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 61.9px;
  text-align: left;
  margin: 0px;
}

/* //styleName: H3; */
h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 47.04px;
  text-align: left;
  margin: 0px;
}

/* //styleName: H4; */
h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34.66px;
  text-align: left;
  margin: 0px;
}

/* //styleName: H5; */
h5 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  margin: 0px;
}

body {
  max-width: 1920px;
  overflow-x: hidden;
  background-color: #141414;
  position: relative;
}
body .top_right_eff {
  position: absolute;
  right: 150px;
  top: 200px;
  width: 1px;
  height: 1px;
  background-color: rgba(237, 188, 89, 0.268);
  border-radius: 50%;
  box-shadow: 0px 0px 228px 155px rgba(237, 188, 89, 0.357);
  z-index: -1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body header {
  width: 100%;
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .logo__box {
  width: 204px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .logo__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;
}
body header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.05px;
}
body header .res_icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .res_icon img {
  width: 100%;
  height: 100%;
}
body .hero_section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}
body .hero_section .hero_section_left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
body .hero_section .hero_section_left::before {
  content: url(../image/Dawn.png);
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
body .hero_section .hero_section_left .text_box_wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 140px;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  text-align: left;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box .text_top {
  font-size: 98px;
  color: white;
  font-weight: 800;
  line-height: 120px;
  position: relative;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box .text_top::after {
  content: url(../image/Super.png);
  margin-left: 40px;
  position: absolute;
  top: -20px;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box .text_middel {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 8px;
  line-height: 100px;
  position: relative;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after {
  content: url(../image/elementheading.svg);
  position: absolute;
  top: -120px;
  right: -120px;
}
body .hero_section .hero_section_left .text_box_wrapper .text_box .text_bottom {
  font-size: 92px;
  font-weight: 400;
  line-height: 70px;
  color: white;
  font-family: "Gilroy-Light";
  letter-spacing: 30px;
  position: relative;
  top: 25px;
  z-index: 99;
}
body .hero_section .hero_section_left .image_box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
body .hero_section .hero_section_left .image_box::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background-color: #141414;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero_section .hero_section_left .image_box .overly {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3.5rem;
  z-index: 99;
}
body .hero_section .hero_section_left .image_box .overly .overly_text_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 60px;
}
body .hero_section .hero_section_left .image_box .overly .overly_text_box span {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Gilroy-Light";
  letter-spacing: 8px;
}
body .hero_section .hero_section_left .image_box .overly .overly_text_box h4 {
  color: white;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .hero_section .hero_section_left .image_box .overly .overly_text_box h4 span {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px;
}
body .hero_section .hero_section_left .image_box .overly .overly_text_box .line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #EDBC5A 1.51%, rgba(255, 255, 255, 0) 105.37%);
}
body .hero_section .hero_section_left .image_box .overly .slider_navigator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body .hero_section .hero_section_left .image_box .overly .slider_navigator div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}
body .hero_section .hero_section_left .image_box .overly .slider_navigator div.left {
  background-color: #141414;
}
body .hero_section .hero_section_left .image_box .overly .slider_navigator div.right {
  background-color: #EDBC5A;
}
body .hero_section .hero_section_left .image_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero_section .hero_section_right {
  width: 30%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body .hero_section .hero_section_right .top_image_box {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero_section .hero_section_right .top_image_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero_section .hero_section_right .bottom_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
body .hero_section .hero_section_right .bottom_box::before {
  content: url(../image/Ornament.png);
  position: relative;
  left: -25%;
}
body .hero_section .hero_section_right .bottom_box .bottom_text_box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
body .hero_section .hero_section_right .bottom_box .bottom_text_box p {
  color: white;
  font-family: "Gilroy-Medium";
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}
body .hero_section .hero_section_right .bottom_box .bottom_text_box .line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #EDBC5A 1.51%, rgba(255, 255, 255, 0) 105.37%);
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .profile_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .profile_details h5 {
  color: white;
  font-size: 16px;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .profile_details span {
  color: white;
  font-size: 12px;
}
body .hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .signature {
  width: 100px;
  height: 47px;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.text_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  position: relative;
  padding: 40px 0px;
}
body section.text_section .ornament {
  position: absolute;
  right: 70px;
  top: 20px;
  max-width: 180px;
  max-height: 180px;
}
body section.text_section .shadow_eff {
  position: absolute;
  right: 120px;
  top: 250px;
  width: 1px;
  height: 1px;
  background-color: rgba(237, 188, 89, 0.268);
  border-radius: 50%;
  box-shadow: 0px 0px 258px 250px rgba(237, 188, 89, 0.357);
  z-index: -1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body section.text_section .text_bold {
  font-size: 14vw;
  font-weight: 600;
  font-family: "Gilroy-Bold";
  color: white;
  text-transform: uppercase;
  line-height: 14vw;
}
body section.text_section .text_outline {
  font-size: 13vw;
  font-weight: 600;
  font-family: "Gilroy-Bold";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  text-transform: uppercase;
  margin-left: 60px;
  text-wrap: nowrap;
  line-height: 13vw;
}
body section.exprience_section {
  display: flex;
  padding: 50px 30px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  position: relative;
}
body section.exprience_section .eff {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -20px;
  left: 10px;
}
body section.exprience_section .exprience_left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body section.exprience_section .exprience_left .eye_image_box {
  width: 100%;
  height: 320px;
}
body section.exprience_section .exprience_left .eye_image_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.exprience_section .exprience_left .ex_image_box {
  width: 100%;
  height: 150px;
}
body section.exprience_section .exprience_left .ex_image_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
body section.exprience_section .exprience_middel {
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
body section.exprience_section .exprience_middel img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 5px;
}
body section.exprience_section .exprience_right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body section.exprience_section .exprience_right .top_box {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body section.exprience_section .exprience_right .top_box img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.exprience_section .exprience_right .top_box img.image_two {
  top: 20px;
  left: 40px;
}
body section.exprience_section .exprience_right .boy_image {
  height: 60%;
  width: 100%;
}
body section.exprience_section .exprience_right .boy_image img {
  width: 100%;
  height: 100%;
}
body section.about_section {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;
}
body section.about_section .effect {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 25%;
}
body section.about_section .effect_left {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 15%;
}
body section.about_section .shadow_eff_top {
  position: absolute;
  left: 100px;
  top: 150px;
  width: 1px;
  height: 1px;
  background-color: rgba(237, 188, 89, 0.268);
  border-radius: 50%;
  box-shadow: 0px 0px 228px 155px rgba(237, 188, 89, 0.357);
  z-index: -1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body section.about_section .shadow_eff_bottom {
  position: absolute;
  right: 100px;
  bottom: 150px;
  width: 1px;
  height: 1px;
  background-color: rgba(237, 188, 89, 0.268);
  border-radius: 50%;
  box-shadow: 0px 0px 228px 155px rgba(237, 188, 89, 0.357);
  z-index: -1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body section.about_section .about_top_card {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body section.about_section .about_top_card .section_title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #EDBC5A;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4px;
  font-family: "Gilroy-Light";
  text-transform: uppercase;
}
body section.about_section .about_top_card .section_title .arrow {
  display: flex;
  font-size: 1rem;
  transform: rotate(45deg);
}
body section.about_section .about_top_card h3 {
  color: white;
  font-size: 40px;
}
body section.about_section .about_top_card .decs {
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-family: "Gilroy-Bold";
  margin-left: 15%;
}
body section.about_section .about_top_card .sub_decs {
  color: white;
  font-size: 12px;
  font-weight: 100;
  font-family: "Gilroy-Light";
  margin-left: 15%;
}
body section.about_section .unique_idea_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  padding: 40px;
  background-color: #131313;
  border-radius: 16px;
  position: relative;
}
body section.about_section .unique_idea_card .effect {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 25%;
}
body section.about_section .unique_idea_card .unique_idea_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body section.about_section .unique_idea_card .unique_idea_header .top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body section.about_section .unique_idea_card .unique_idea_header .top .thik_text {
  font-family: "Gilroy-Light";
  font-weight: 400px;
  color: white;
  font-size: 30px;
}
body section.about_section .unique_idea_card .unique_idea_header .top .bold_text {
  font-weight: 700;
  font-size: 30px;
  color: white;
}
body section.about_section .unique_idea_card .unique_idea_header .top img {
  height: 50px;
}
body section.about_section .unique_idea_card .unique_idea_header .bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body section.about_section .unique_idea_card .unique_idea_header .bottom .icon {
  width: 40px;
  height: 40px;
  background-color: #EDBC5A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(315deg);
  color: white;
  font-size: 16px;
  font-weight: 400;
}
body section.about_section .unique_idea_card .unique_idea_header .bottom .thik_text {
  font-family: "Gilroy-Light";
  font-weight: 400px;
  color: white;
  font-size: 30px;
}
body section.about_section .unique_idea_card .unique_idea_header .bottom .bold_text {
  font-weight: 700;
  font-size: 30px;
  color: white;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper {
  width: 80%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid rgba(245, 245, 245, 0.06);
  border-radius: 5px;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card {
  width: 25%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 10px;
  border-left: 1px solid rgba(245, 245, 245, 0.06);
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  font-family: "Gilroy-Light";
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card span {
  color: white;
  font-size: 12px;
  font-weight: 300;
  font-family: "Gilroy-Light";
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card .bottom .icon {
  height: 25px;
  width: 25px;
  background-color: rgba(245, 245, 245, 0.183);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: rotate(315deg);
  font-size: 12px;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card .bottom .icon_active {
  height: 25px;
  width: 25px;
  background-color: #EDBC5A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: rotate(315deg);
  font-size: 12px;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card .bottom .number {
  color: #EDBC5A;
}
body section.about_section .unique_idea_card .unique_card_items_wrapper .unique_card .bottom .number_outLine {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(245, 245, 245, 0.183);
  -webkit-text-stroke-width: 1px;
  font-size: 32px;
}

@media (max-width: 1260px) {
  body section.hero_section .hero_section_left {
    width: 65% !important;
  }
  body section.hero_section .hero_section_left .text_box_wrapper {
    padding-left: 80px;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box h1 {
    font-size: 70px !important;
    line-height: 90px !important;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box h1.text_bottom {
    top: 20px;
    line-height: 60px !important;
  }
  body section.hero_section .hero_section_right {
    width: 35% !important;
  }
  body section.hero_section .hero_section_right .bottom_box {
    gap: 1rem;
  }
  body section.hero_section .hero_section_right .bottom_box::before {
    content: url(../image/Ornament.png);
    position: relative;
    left: -25%;
  }
  body section.hero_section .hero_section_right .bottom_box .bottom_text_box {
    width: 100%;
    gap: 1rem;
  }
  body section.hero_section .hero_section_right .bottom_box .bottom_text_box p {
    line-height: 16px;
  }
  body section.hero_section .hero_section_right .bottom_box .hero_profile_box {
    padding: 6px 12px;
  }
  body section.hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info {
    gap: 0.8rem;
  }
  body section.hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .profile_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  body section.hero_section .hero_section_right .bottom_box .hero_profile_box .profile_info .signature {
    width: 100px;
    height: 47px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 960px) {
  body header {
    padding: 20px 40px;
  }
  body header nav {
    display: none;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after {
    top: -20px !important;
    right: 45px !important;
  }
}
@media (max-width: 920px) {
  body section.hero_section {
    flex-direction: column !important;
  }
  body section.hero_section .hero_section_left {
    width: 100% !important;
  }
  body section.hero_section .hero_section_left .text_box_wrapper {
    justify-content: flex-start;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box h1 {
    font-size: 52px !important;
    font-weight: 600;
    line-height: 60px !important;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after {
    top: -112px !important;
    right: -127px !important;
    position: absolute;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after::content {
    width: 60px;
    height: 60px;
  }
  body section.hero_section .hero_section_right {
    width: 100% !important;
    display: flex;
    gap: 2rem;
    padding: 40px 10px;
    flex-direction: row !important;
  }
  body section.hero_section .hero_section_right .top_image_box {
    width: 50%;
  }
  body section.hero_section .hero_section_right .top_image_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 720px) {
  body {
    overflow-x: hidden;
    width: 100vw;
  }
  body section.hero_section .hero_section_left .text_box_wrapper {
    padding-left: 40px;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box {
    padding-left: 0px;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after {
    display: none;
  }
  body section.text_section h1.text_outline {
    margin-left: 10px;
  }
  body section.exprience_section {
    flex-wrap: wrap;
  }
  body section.exprience_section .exprience_left {
    width: 100%;
  }
  body section.exprience_section .exprience_middel {
    width: 48%;
  }
  body section.exprience_section .exprience_right {
    width: 48%;
  }
}
@media (max-width: 520px) {
  body section.hero_section .hero_section_left .text_box_wrapper {
    padding-left: 40px;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box {
    padding-left: 0px;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box h1::after {
    display: none;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_middel::after {
    display: none;
  }
  body section.hero_section .hero_section_left .text_box_wrapper .text_box .text_bottom {
    letter-spacing: 5px;
  }
  body section.hero_section .hero_section_left .image_box .overly {
    gap: 5px;
  }
  body section.hero_section .hero_section_left .image_box .overly .overly_text_box {
    gap: 5px;
  }
  body section.hero_section .hero_section_right {
    flex-direction: column !important;
  }
  body section.hero_section .hero_section_right .top_image_box {
    width: 95%;
  }
  body section.exprience_section {
    flex-wrap: wrap;
  }
  body section.exprience_section .exprience_left {
    width: 100%;
  }
  body section.exprience_section .exprience_middel {
    width: 100%;
  }
  body section.exprience_section .exprience_right {
    width: 100%;
  }
  body section.exprience_section .exprience_right .top_box {
    display: none;
  }
  body section.exprience_section .exprience_right .boy_image {
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */