
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');




/* reset css propaty */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset css propaty */

/* variable  */

$shadow-efects: rgba(237, 188, 89, 0.357);
// $shadow-efects: #edbc5a;
$theme-color: #141414;
$text-white: #ffff;
$gray-color: #b0b0b0;
$theme-two: #131313;
$primary:#EDBC5A;

/* variable  */

// mixing
@mixin flex-center-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// mixing

/* Typographi h1 h2 h3 h4 h5 css propaty */
/* //styleName: H1; */
h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 148.56px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H2; */
h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 61.9px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H3; */
h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 47.04px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H4; */
h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34.66px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H5; */
h5 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  margin: 0px;
}

// body css start
body {
  max-width: 1920px;
  overflow-x: hidden;
  background-color: $theme-color;
  position: relative;

  .top_right_eff{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 320px;
    height: 320px;
    background-color:rgba(237, 188, 89, 0.268);
    border-radius: 50%;
    box-shadow: 0px 0px 328px 155px $shadow-efects;
    z-index: -1;
  }

  header{
    width: 100%;
    padding: 50px 100px;
    @include flex-center-between();

    .logo__box{
      width: 204px;
      height: 40px;
      @include flex-center-center();

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    nav{
      @include flex-center-center();

      ul{
        @include flex-center-center();
        list-style: none;
        gap: 80px;

        li{
          @include flex-center-center();    
          
          a{
            text-decoration: none;
            color: $text-white;
            font-family: "Gilroy-SemiBold", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 22.05px;
          }
        }
      }
    }

    .res_icon{
      width: 25px;
      height: 25px;
      @include flex-center-center();

      img{
        width: 100%;
        height: 100%;
      }
    }
  }


  // hero section start 
  section.hero__section{
    // background-color: red;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    .hero_left{
      width: 1278px;
      display: flex;
      flex-direction: column;
     position: relative;

     .supper_icon{

      position: absolute;
      right: 0px;
      top: 0px;
     width: 220px;
     height: 220px;
    //  background-color: red;
     object-fit: corver;
     display: flex;
     align-items: center;
     justify-content: center;
     }

      .text_box_one{
        width: 1278px;
       @include flex-center-center();
        // background-color: red;

       .text_wrapper{
        width: 831px;
        height: 300px;
        position: relative;
        // background-color: green;
        .top_text{
          font-size: 140px;
          line-height: 150px;
          font-weight: 400;
          color: white;
          text-transform: uppercase;
          position: relative;


          &::after{
            content: url(../image/Super.png);
            position: absolute;
            right: 100px;
            top: 0px;
          }
          

          &::before{
            content: url(../image/Dawn.png);
            position: absolute;
            left: -25%;
            top: 50px;
            width: 208px;
            height: 208px;
            // background-color: red;
            // overflow: hidden;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
          }
        }
        .middel_text{
          font-size: 140px;
          line-height: 150px;
          font-weight: 400;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-color: $text-white;
          -webkit-text-stroke-width: 1px;
          position: relative;

        &::after{
        content: url(../image/elementheading.svg);
        position: absolute;
        right: -120px;
        top:-100px;
        }
        }
        .bottom_text{
          font-family: "Gilroy-Light",sans-serif;
          font-size: 100px;
          font-weight:400;
          line-height: 150px;
          text-transform: uppercase;
          letter-spacing: 100px;
          color: $text-white;
          position: absolute;
          bottom: -130px;
          left: 0px;
          z-index: 999;
        }
       }
      }

      .image_box{
        width: 100%;
        height: 637px;
        position: relative;
        margin-top: 60px;
        &::before{
          content: "";
          width: 100px;
          height: 100px;
          background-color: $theme-color;
          position: absolute;
          right: 0px;
          top:0px;
          z-index: 999999;
          // background-color: red;
        }


        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          display: flex;

       
        }
        .overlay{
          position: absolute;
          bottom: 0px;
          left: 0px;
          padding: 0px 0px ;
          display: flex;
          align-items: flex-start;
          gap: 5.5rem;
          flex-direction: column;
          z-index: 99;
          
          .text__box{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            text-align: left;
            padding-left: 120px;

            span.top{
              color:white;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              font-family: "Rubik";
              letter-spacing: 20px;
              text-transform: uppercase;
            }

            h3{
              display:flex;
              color: white;
              gap: 5px;
              align-items: center;
              justify-content: center;
            font-size: 38px;
              line-height: 47px;
            font-weight: 400;


              span.head_text{
              color: white;
              font-size: 38px;
              line-height: 47px;
            font-weight: 400;
            font-family: "Gilroy-Light";
              }
            }
          }

          .slider_navigator{
            // padding: 0px 15px;
            display: flex;

            span{
              height: 46px;
              width: 46px;
              font-size: 16px;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $theme-color;
              color: $text-white;
            }
            span.navigarot_two{
              background-color:$primary;
            }
          }
        }
        img{
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .hero__right{
      max-width: calc(100% - 1278px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 200px;

      .image_box{
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .hero_left_bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 80px 40px;
        position: relative;
        gap: 1.5rem;

        &::before{
          content: url(../image/Ornament.png);
          position: absolute;
          top: -50%;
          left: 0px;
        }

        p{
          font-size: 16px;
          font-weight: 500;
          color: $text-white;
          font-family: "Gilroy-Bold", sans-serif;
        }
        hr{
          background-color: red;
          color: red;
        }

        .profile_box{
          display: flex;
          width: 100%;

          .profile{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px;
            // background-color: red;

            .image_box_inner{
              // width: 62px;
              // height: 62px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 15px;

              .profile_details_text{
                color: white;

                h5{
                  font-size: 16px;
                  font-weight: 500;
                  font-family: "Rubik";
                  line-height: 29px;
                }

                span{
                  font-size: 12px;
                  font-weight: 300;
                  line-height: 14px;
                  font-family: "Rubik";
                }
              }

              img{
                width: 62px;
                height: 62px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  // hero section end
}





// responsive code start 









@media (max-width:1420px) {
  body{
    max-width: 1420px;

    header{
      padding: 25px 50px;
      // .logo__box{
      //   width: 202px;
      //   height: 40px;
      // }

      nav{
        ul{
          gap: 40px;
        }
      }
    }
  }
}
@media (max-width:1320px) {
  body{
    max-width: 1320px;

    header{
      padding: 25px 50px;
      // .logo__box{
      //   width: 202px;
      //   height: 40px;
      // }

      nav{
        ul{
          gap: 30px;
        }
      }
    }
  }
}
/* Typographi h1 h2 h3 h4 h5 css propaty */
