
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');




/* reset css propaty */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset css propaty */

/* variable  */

$shadow-efects: rgba(237, 188, 89, 0.357);
// $shadow-efects: #edbc5a;
$theme-color: #141414;
$text-white: #ffff;
$gray-color: #b0b0b0;
$theme-two: #131313;
$primary:#EDBC5A;

/* variable  */

// mixing
@mixin flex-center-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// mixing

/* Typographi h1 h2 h3 h4 h5 css propaty */
/* //styleName: H1; */
h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 148.56px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H2; */
h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 61.9px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H3; */
h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 47.04px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H4; */
h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34.66px;
  text-align: left;
  margin: 0px;
}
/* //styleName: H5; */
h5 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  margin: 0px;
}

// body css start
body {
  max-width: 1920px;
  overflow-x: hidden;
  background-color: $theme-color;
  position: relative;

  .top_right_eff{
    position: absolute;
    right: 150px;
    top: 200px;
    width: 1px;
    height: 1px;
    background-color:rgba(237, 188, 89, 0.268);
    border-radius: 50%;
    box-shadow: 0px 0px 228px 155px $shadow-efects;
    z-index: -1;
    backdrop-filter: blur(10px);
  }

  header{
    width: 100%;
    padding: 50px 60px;
    @include flex-center-between();

    .logo__box{
      width: 204px;
      height: 40px;
      @include flex-center-center();

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    nav{
      @include flex-center-center();

      ul{
        @include flex-center-center();
        list-style: none;
        gap: 2.5rem;

        li{
          @include flex-center-center();    
          
          a{
            text-decoration: none;
            color: $text-white;
            font-family: "Gilroy-SemiBold", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 22.05px;
          }
        }
      }
    }

    .res_icon{
      width: 25px;
      height: 25px;
      @include flex-center-center();

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

// hero section start two col
.hero_section{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  // align-content: stretch;
  gap: 2rem;

  .hero_section_left{
    // background-color: red;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    &::before{
      content: url(../image/Dawn.png);
      position: absolute;
      width: 100px;
      height: 100px;
      left: 0px;
      top: 0px;
      object-fit: cover;
      background-position: center;
      // overflow: hidden;
    }



    .text_box_wrapper{
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 140px;
     
      .text_box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        text-align: left;

        .text_top{
          font-size: 98px;
          color: $text-white;
          font-weight: 800;
          line-height: 120px;
          position: relative;
          

          &::after{
            content: url(../image/Super.png);
            margin-left: 40px;
            position: absolute;
            top: -20px;
          }
        }
        .text_middel{
         -webkit-text-fill-color: transparent;
         -webkit-text-stroke-color: $text-white;
         -webkit-text-stroke-width: 2px;
         font-size: 100px;
         font-weight: 600;
         letter-spacing: 8px;
         line-height: 100px;
         position: relative;

           &::after{
            content: url(../image/elementheading.svg);
            // margin-left: 40px;
            position: absolute;
            top: -120px;
            right: -120px;
          }
        }
        .text_bottom{
           font-size: 92px;
           font-weight: 400;
           line-height: 70px;
           color: $text-white;
           font-family: "Gilroy-Light";
           letter-spacing: 30px;
           position: relative;
           top: 25px;
           z-index: 99;
        }
      }
    }




    .image_box{
      width: 100%;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &::before{
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        width: 80px;
        height: 80px;
        background-color: $theme-color;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .overly{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 3.5rem;
        z-index: 99;

        .overly_text_box{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 60px;

          span{
            // display: flex;
            color: $text-white;
            font-size: 14px;
            text-transform: uppercase;
            font-family: "Gilroy-Light";
            letter-spacing: 8px;
          }

          h4{
            color: $text-white;
            font-size: 28px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            span{
              font-size: 28px;
              text-transform: capitalize;
              font-weight: 400;
              letter-spacing: 2px;
            }
          }
          .line{
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, #EDBC5A 1.51%, rgba(255, 255, 255, 0) 105.37%);




          }
        }


        .slider_navigator{
          display: flex;
          align-items: center;
          justify-content: flex-start;

          div{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 12px;
            color: $text-white;
            cursor: pointer;
          }
          div.left{
            background-color: $theme-color;
          }
          div.right{
            background-color: $primary;
          }
        }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .hero_section_right{
    width: 30%;
    max-height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
//  background-color: red;

    .top_image_box{
      width: 80%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .bottom_box{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      &::before{
        content: url(../image/Ornament.png);
        position: relative;
        left: -25%;
      }

      .bottom_text_box{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        p{
          color: $text-white;
          font-family: "Gilroy-Medium";
          font-style: italic;
          font-size: 14px;
          line-height: 20px;
        }
        .line{
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, #EDBC5A 1.51%, rgba(255, 255, 255, 0) 105.37%);
        }
      }

      .hero_profile_box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;

       

        .profile_info{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;

          img{
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          .profile_details{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h5{
              color: $text-white;
              font-size: 16px;
            }
            span{
              color: $text-white;
              font-size: 12px;
            }
          }
          .signature{
            width: 100px;
            height: 47px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
section.text_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  position: relative;
  padding: 40px 0px;
  // overflow-x: hidden;

  .ornament{
    position: absolute;
    right:70px;
    top: 20px;
    max-width: 180px;
    max-height: 180px;
  }

  .shadow_eff{
    position: absolute;
    right: 120px;
    top: 250px;
    width: 1px;
    height: 1px;
    background-color:rgba(237, 188, 89, 0.268);
    border-radius: 50%;
    box-shadow: 0px 0px 258px 250px $shadow-efects;
    z-index: -1;
    backdrop-filter: blur(10px);
  }
  .text_bold{
    font-size: 14vw;
    font-weight: 600;
    font-family: "Gilroy-Bold";
    color: $text-white;
    text-transform: uppercase;
    line-height: 14vw;
  }
  .text_outline{
    font-size: 13vw;
    font-weight: 600;
    font-family: "Gilroy-Bold";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: $text-white;
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
    margin-left: 60px;
    text-wrap: nowrap;
    line-height: 13vw;
  }
}
section.exprience_section{
  display: flex;
  padding: 50px 30px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  position: relative;

  .eff{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -20px;
    left: 10px;
  }
  // overflow: hidden;

  .exprience_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    .eye_image_box{
      width: 100%;
     height: 320px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .ex_image_box{
      width: 100%;
      height: 150px;
      // padding: 10px;
      img{
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }
  .exprience_middel{
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 5px;
    }
  }
  .exprience_right{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .top_box{
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
      img.image_two{
        top: 20px;
        left: 40px;
      }
    }
    .boy_image{
      height: 60%;
      width: 100%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
section.about_section{
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;

  .effect{
    position: absolute;
    right: 10px;
    top: 0px;
    width: 25%;
  }
  .effect_left{
    position: absolute;
    left: 10px;
    top: 0px;
    width: 15%;
  }
  .shadow_eff_top{
    position: absolute;
    left: 100px;
    top: 150px;
    width: 1px;
    height: 1px;
    background-color:rgba(237, 188, 89, 0.268);
    border-radius: 50%;
    box-shadow: 0px 0px 228px 155px $shadow-efects;
    z-index: -1;
    backdrop-filter: blur(10px);
  }
  .shadow_eff_bottom{
    position: absolute;
    right: 100px;
    bottom: 150px;
    width: 1px;
    height: 1px;
    background-color:rgba(237, 188, 89, 0.268);
    border-radius: 50%;
    box-shadow: 0px 0px 228px 155px $shadow-efects;
    z-index: -1;
    backdrop-filter: blur(10px);
  }
  .about_top_card{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .section_title{
      display: flex;
      align-items: center;
      gap: 5px;
      color: $primary;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 4px;
      font-family: "Gilroy-Light";
      text-transform: uppercase;

      .arrow{
        display: flex;
        font-size: 1rem;
        transform:rotate(45deg);
      }
    }
    h3{
      color: $text-white;
      font-size: 40px;
    }
    .decs{
      color: $text-white;
      font-size: 16px;
      font-weight: 100;
      font-family: "Gilroy-Bold";
      margin-left: 15%;
    }
    .sub_decs{
      color: $text-white;
      font-size: 12px;
      font-weight: 100;
      font-family: "Gilroy-Light";
      margin-left: 15%;
    }
  }
  .unique_idea_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    padding: 40px;
    background-color:$theme-two;
    border-radius: 16px;
    position: relative;

    .effect{
      position: absolute;
      right: 0px;
      top: 10px;
      width: 25%;
    }

    .unique_idea_header{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .top{
        display: flex;
        align-items: center;
        gap: .5rem;

        .thik_text{
          font-family: "Gilroy-Light";
          font-weight: 400px;
          color: $text-white;
          font-size: 30px;
        }
        .bold_text{
          font-weight: 700;
          font-size: 30px;
          color: $text-white;
        }
        img{
          height: 50px;
        }
      }
      .bottom{
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon{
          width: 40px;
          height: 40px;
          background-color: $primary;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(315deg);
          color: $text-white;
          font-size: 16px;
          font-weight: 400;
        }
        .thik_text{
          font-family: "Gilroy-Light";
          font-weight: 400px;
          color: $text-white;
          font-size: 30px;
        }
        .bold_text{
          font-weight: 700;
          font-size: 30px;
          color: $text-white;
        }
      }
    }
    .unique_card_items_wrapper{
      width: 80%;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      border: 1px solid rgba(245, 245, 245, 0.06);
      border-radius: 5px;


      .unique_card{
        width: 25%;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.6rem;
        padding: 10px;
        border-left: 1px solid rgba(245, 245, 245, 0.06);

        p{
          color: $text-white;
          font-size: 13px;
          font-weight: 300;
          font-family: "Gilroy-Light";
        }
        span{
          color: $text-white;
          font-size: 12px;
          font-weight: 300;
          font-family: "Gilroy-Light";
        }

        .bottom{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon{
            height: 25px;
            width: 25px;
            background-color: rgba(245, 245, 245, 0.183);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-white;
            transform: rotate(315deg);
            font-size: 12px;
          }
          .icon_active{
            height: 25px;
            width: 25px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-white;
            transform: rotate(315deg);
            font-size: 12px;
          }
          .number{
            color: $primary;
          }
          .number_outLine{
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color:rgba(245, 245, 245, 0.183);
            -webkit-text-stroke-width: 1px;
            font-size: 32px;
          }
        }
      }
    }
  }
}
}

@media (max-width:1260px) {
  body{
    section.hero_section{
      .hero_section_left{
        width: 65% !important;
        .text_box_wrapper{
          padding-left: 80px;
          .text_box{
            h1{
              font-size: 70px !important;
              line-height: 90px !important;
            }
            h1.text_bottom{
              top: 20px;
              line-height: 60px !important;
            }
          }
        }
      }
      .hero_section_right{
        width: 35% !important;

        .top_image_box{
        }
        .bottom_box{

          gap: 1rem;
          &::before{
            content: url(../image/Ornament.png);
            position: relative;
            left: -25%;
          }
    
          .bottom_text_box{
            width: 100%;
            gap: 1rem;
    
            p{
              line-height: 16px;
            }
          }
    
          .hero_profile_box{
            padding: 6px 12px;
            .profile_info{
              gap: .8rem;
              .profile_details{
                display: flex;
                flex-direction: column;
                gap: .5rem;
              }
              .signature{
                width: 100px;
                height: 47px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:960px) {
  body{
    header{
      padding: 20px 40px;
      nav{
        display: none;
      }
    }
    section.hero_section{
      .hero_section_left{
        .text_box_wrapper{
          .text_box{
            .text_middel{
              &::after{
                top: -20px !important;
                right: 45px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:920px) {
  body{
    section.hero_section{
      flex-direction: column !important;
      .hero_section_left{
        width: 100% !important;

        .text_box_wrapper{
          // padding-left:40px;
          justify-content: flex-start;
          .text_box{
            h1{
              font-size: 52px !important;
              font-weight: 600;
              line-height: 60px !important;
            }
            .text_middel{
              &::after{
                top: -112px !important;
                 right: -127px !important;
                 position: absolute;
                 
                 &::content{
                  width: 60px;
                  height: 60px;
                 }
                 }
              }
            }
          }
        }
        
      .hero_section_right{
        width: 100% !important;
        display: flex;
        gap: 2rem;
        padding: 40px 10px;
        flex-direction: row !important;

        .top_image_box{
          width: 50%;
          // height: 300px;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}


@media (max-width:720px) {
  body{
    overflow-x: hidden;
    width: 100vw;
    section.hero_section{
      .hero_section_left{
        .text_box_wrapper{
          padding-left: 40px;

          .text_box{
            padding-left: 0px;

            .text_middel{
              &::after{
                display: none;
              }
            }
          }
        }
      }
    }
    section.text_section{
      h1.text_outline{
        margin-left: 10px;
      }
    }
    section.exprience_section{
      flex-wrap: wrap;
      .exprience_left{
        width: 100%;
      }
      .exprience_middel{
        width: 48%;
      }
      .exprience_right{
        width: 48%;
      }
    }
  }
 
}

@media (max-width:520px) {
  body{
    section.hero_section{
      .hero_section_left{
        .text_box_wrapper{
          padding-left: 40px;

          .text_box{
            padding-left: 0px;
            h1{
              &::after{
                display: none;
              }
            }
            .text_middel{
              &::after{
                display: none;
              }
            }
            .text_bottom{
              letter-spacing: 5px;
            }
          }
        }
        .image_box{
          .overly{
            gap: 5px;

            .overly_text_box{
              gap: 5px;
            }
          }
        }
      }
      .hero_section_right{
        flex-direction: column !important;
        .top_image_box{
          width: 95%;
        }
      }
    }
    section.exprience_section{
      flex-wrap: wrap;
      .exprience_left{
        width: 100%;
      }
      .exprience_middel{
        width: 100%;
      }
      .exprience_right{
        width: 100%;
        .top_box{
          display: none;
        }
        .boy_image{
          height: 100%;
        }
      }
    }
  }
}
